<section class="bannerSection">
  <div class="headerContainer">
    
    <div class="header headerBig">
      <span class="hamburgerMenu"><img src="{{ 'hamburger.png' | asset_url }}" alt="Banner" width="" height=""></span>
      <span class="crossMenu"><img src="{{ 'cross.png' | asset_url }}" alt="Banner" width="" height=""></span>
      <span class="logoText">{{ section.settings.headerLogoText }}</span>
      <span class="headerText">{{ section.settings.headerText }}</span>
      {% render 'button', button_text: {{section.settings.headerButtonText}}, button_link: {{section.settings.headerButtonLink}} %}
    </div>
    {% comment %} <div class="header headerSmallHide"> {% endcomment %}
    <div class="header">
      <div>
        <span class="headerText showHeaderText">{{ section.settings.headerText }}</span>
        {% render 'button', button_text: {{section.settings.headerButtonText}}, button_link: {{section.settings.headerButtonLink}} %}
      </div>
    </div>
  </div>

  {% comment %}
    <div class="bannerImage">
      <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
    </div>

    <div class="bannerTextContainer">
      <div class="bannerTextArea">
        <h1>{{ section.settings.bannerHeadingText }}</h1>
        <span>
          {{ section.settings.bannerSubtitleText }}
        </span>
        {% render 'button', button_text: {{section.settings.bannerButtonText}}, button_link: {{ section.settings.bannerButtonLink }} %}
      </div>
      <div class="bannerTextContainerImage">
        <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
      </div>
    </div>

    <div class="bottomBannerText">
      <span>
        {{ section.settings.bottomHeaderText }}
      </span>
    </div>
  {% endcomment %}
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hamburgerMenu = document.querySelector('.hamburgerMenu');
    const crossMenu = document.querySelector('.crossMenu');

    const phoneMenu = document.querySelector('.headerSmallHide')
    const tabletMenu = document.querySelector('.headerBig')
    
    hamburgerMenu.addEventListener('click', function(){
      hamburgerMenu.classList.add('hamburgerHideAtAction')
      phoneMenu.classList.add('headerSmallShow')
      crossMenu.classList.add('crossMenuShow')
    })

    crossMenu.addEventListener('click', function(){
      hamburgerMenu.classList.remove('hamburgerHideAtAction')
      phoneMenu.classList.remove('headerSmallShow')
      crossMenu.classList.remove('crossMenuShow')
    })
  })
</script>

{% schema %}
{
  "name": "Banner Area",
  "settings": [
    {
      "type": "text",
      "id": "headerLogoText",
      "label": "Header Logo Text",
      "default": "Tisso Vison"
    },
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "headerButtonText",
      "label": "Header Button Text",
      "default": "Choose Gift"
    },
    {
      "type": "text",
      "id": "headerButtonLink",
      "label": "Header Button Link",
      "default": "www.google.com"
    },
    {
      "type": "text",
      "id": "bannerHeadingText",
      "label": "Banner Heading Text",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "bannerSubtitleText",
      "label": "Banner Subtitle Text",
      "default": "Discover Joy: Your Ultimate Holidat Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "bannerButtonText",
      "label": "Banner Button Text",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "id": "bannerButtonLink",
      "label": "Banner Button Link",
      "default": "www.youtube.com"
    },
    {
      "type": "text",
      "id": "bottomHeaderText",
      "label": "Bottom Banner Text",
      "default": "Sustainable, Ethically made clothes in sizes XXS to 6XL"
    }
  ],
  "presets": [
    {
      "name": "Banner buttons",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
