<section class="bannerSection">
  <div class="headerContainer">
    <div class="header">
      <span class="logoText">{{ settings.schema.headerLogoText }}</span>
      <span class="headerText">{{ settings.schema.headerText }}</span>
      {% render 'button', button_text: {{ settings.schema.headerButtonText }}, button_link: {{settings.schema.headerButtonLink}} %}
    </div>
  </div>

  <div class="bannerImage">
    <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
  </div>

  <div class="bannerTextContainer">
    <div class="bannerTextArea">
      <h1>{{settings.schema.bannerHeadingText}}</h1>
      <span>
        {{ settings.schema.bannerSubtitleText }}
      </span>
      {% render 'button', button_text: {{settings.schema.bannerButtonText}}, button_link: {{ settings.schema.bannerButtonLink }} %}
    </div>
    <div class="bannerTextContainerImage">
      <img src="{{ 'banner.png' | asset_url }}" alt="Banner" width="" height="">
    </div>
  </div>

  <div class="bottomBannerText">
    <span>
        
    </span>
  </div>
</section>

{% schema %}
{
  "name": "Banner buttons",
  "settings": [
    {
      "type": "text",
      "id": "headerLogoText",
      "label": "Header Logo Text",
      "default": "Tisso Vison"
    },
    {
      "type": "text",
      "id": "headerText",
      "label": "Header Text",
      "default": "Find the ideal gift for your loved ones."
    },
    {
      "type": "text",
      "id": "headerButtonText",
      "label": "Header Button Text",
      "default": "Choose Gift"
    },
    {
      "type": "text",
      "id": "headerButtonLink",
      "label": "Header Button Link",
      "default": "www.google.com"
    },
    {
      "type": "text",
      "id": "bannerHeadingText",
      "label": "Banner Heading Text",
      "default": "The Gift Guide"
    },
    {
      "type": "text",
      "id": "bannerSubtitleText",
      "label": "Banner Subtitle Text",
      "default": "Discover Joy: Your Ultimate Holidat Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "bannerButtonText",
      "label": "Banner Button Text",
      "default": "Shop Now"
    },
    {
      "type": "text",
      "id": "bannerButtonLink",
      "label": "Banner Button Link",
      "default": "www.youtube.com"
    },
    {
      "type": "text",
      "id": "bottomHeaderText",
      "label": "Bottom Banner Text",
      "default": "www.google.com"
    },
  ],
  "presets": [
    {
      "name": "Banner buttons",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
