<!doctype html>
<html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'banner.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'button.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'productsGrid.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'modal.css' | asset_url }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">
    {% comment %} <script src="{{ 'productScript.js' | asset_url}}" /> {% endcomment %}
  </head>
  <body>
    {% section 'banner' %}
    {% section 'product' %}
  </body>
</html>
